<center>
  <div class="col-md-6 container">
    <div class="card mb-3">
      <div class="row no-gutters align-items-center">
        <div class="col-md-4">
          <img
            src="https://dummyimage.com/400x300/000/fff"
            class="card-img server-map-img"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><b><%= serverName %></b></h5>
            <p class="card-text"><%= serverDescription %></p>
            <p class="card-text">
              <small class="text-muted"
                >Current Map: <code><%= serverMap %></code></small
              ><br />
              <small class="text-muted"
                >Online:
                <code
                  ><%= serverPlayerCountOnline %>/<%= serverPlayerCountMax
                  %></code
                ></small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>
