<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container bg-slate-200">
    <header id="header"><%- include('../partials/header'); %></header>
    <main class="contact-info">
      <p><code>E-mail: </code>email@example.com</p>
      <p><code>Telegram: </code>@<%= name %></p>
      <p><code>Steam: </code>@<%= name %></p>
    </main>
    <footer id="footer" class="text-center text-muted">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
