<script>
	let componentData = [
		{
			id: 1,
			name: 'Header',
			icon: 'fa-regular fa-address-card',
			description: 'Add header',
			html: `<%- include('../../partials/header.ejs'); %>`
		},
		{
			id: 2,
			name: 'Footer',
			icon: 'fa-solid fa-chevron-down',
			description: 'Add footer',
			html: `<%- include('../../partials/footer.ejs'); %>`
		},
		{
			id: 3,
			name: 'Server Card',
			icon: 'fa-solid fa-server',
			description: 'Add server card',
			html: `<%- include('../../partials/serverCard.ejs'); %>`
		},
		{
			id: 4,
			name: 'User Card',
			icon: 'fa-solid fa-user',
			description: 'Add user card',
			html: `<%- include('../../partials/user-profile.ejs'); %>`
		},
		{
			id: 5,
			name: 'Slides',
			icon: 'fa-solid fa-presentation-screen',
			description: 'Add slides',
			html: `<%- include('../../partials/main-slides.ejs'); %>`
		},
		{
			id: 6,
			name: 'Balance form',
			icon: 'fa-solid fa-presentation-screen',
			description: 'Add balance form',
			html: `<%- include('../../partials/balance.ejs'); %>`
		}
	];

	$.get(`/data/pages.json`, function (data, status) {
		let ids = data['<%- constructorPageName %>'];

		function applyBuilderClass(elem) {
			elem.attr('contenteditable', 'false');
			elem.addClass('builder-element');
		}

		$('.remove-button').click(function () {
			$('.builder-element').last().remove();
		});

		$('.export-button').click(function () {
			if ($('.builder-element').length > 0) {
				let elements = [];
				$('.builder-element').each(function (index, element) {
					let component = $(this).data('component');
					elements.push(component.id);
				});

				let exportData = elements.join(',');
				console.log(exportData);
			} else {
				alert("There's nothing to export.");
			}
		});

		$('.import-button').click(function () {
			console.log('import');

			if ($('.builder-element').length == 0) {
				let elements = prompt(
					'Enter the exported code from a previous project'
				);
				if (elements == 'null' || elements == '') {
					alert('nothing entered');
				} else {
					console.log('input');
					console.log(elements);
					elementArray = elements.split(',');
					console.log(elementArray);
					if (elementArray.length > 0) {
						for (let i = 0; i < elementArray.length; i++) {
							console.log('id of component');
							console.log(elementArray[i]);
							let exportid = parseInt(elementArray[i]);
							let item = componentData.find(
								item => item.id === exportid
							);

							if (item != undefined) {
								elem = $(item.html);
								$('.preview-instructions').remove();
								applyBuilderClass(elem);
								$('.preview').append(elem);
							}
						}
					}
				}
			} else {
				alert('You can only import on a blank page.');
			}
		});

		for (let i = 0; i < componentData.length; i++) {
			let component = componentData[i];

			let cardHTML = '';
			cardHTML += "<div class='sidebar-card'>";
			cardHTML += "<i class='" + component.icon + "'></i> ";
			cardHTML +=
				"<span class='sidebar-card-title'><b>" +
				component.name +
				'</b></span>';
			cardHTML += '</br>' + component.description;
			cardHTML += '</div>';

			let cardjquery = $(cardHTML);

			cardjquery.data('component', component);

			cardjquery.click(function () {
				$('.preview-instructions').remove();
				let elem = $($(this).data('component').html);
				elem.data('component', $(this).data('component'));
				applyBuilderClass(elem);
				$('.preview').append(elem);
				window.scrollTo(0, document.body.scrollHeight);
			});

			$('.sidebar').append(cardjquery);
		}

		let elementArray = ids.split(',');

		if (elementArray.length > 0) {
			for (let i = 0; i < elementArray.length; i++) {
				let exportid = parseInt(elementArray[i]);
				let item = componentData.find(item => item.id === exportid);
				if (item != undefined) {
					elem = $(item.html);
					$('.preview-instructions').remove();
					applyBuilderClass(elem);
					$('.preview').append(elem);
				}
			}
		}
	});
	function saveComponents() {
		let componentIds = [];
		$('.builder-element').each(function () {
			let component = $(this).attr('idElem');
			componentIds.push(component);
		});

		$.get(
			`/admin/constructor/<%- constructorPageName %>/${componentIds.toString()}`,
			function (data, status) {
				alert('Saved successfully!');
				console.log('Data: ' + data + '\nStatus: ' + status);
			}
		);
	}
</script>
