<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container bg-slate-200">
    <header id="header"><%- include('../partials/nonAuth/header'); %></header>
    <main>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <% if (products.length) { %> <% products.forEach(product => { %>
        <div class="col">
          <div class="card shadow-sm">
            <img src="<%= product.img %>" alt="" class="card-img-top" />
            <div class="card-body">
              <h4 class="card-title"><%= product.name %></h4>
              <p class="card-text"><%= product.description %></p>
              <p class="card-text">
                <code><%= product.price %><%= currency %></code>
              </p>
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary"
                onclick="nonAuth()"
              >
                Buy
              </button>
            </div>
          </div>
        </div>
        <% }); %> <% } else { %>
        <p>There are no products available</p>
        <% } %>
      </div>
      <script>
        function nonAuth() {
          alert("You must be logged in to purchase");
        }
      </script>
    </main>
    <footer id="footer" class="text-center text-muted">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>
