<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Database</label>
  <input
    type="text"
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    value="<%= env.DB_HOST %>"
  />
</div>
<div class="mb-3">
  <input
    type="text"
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    placeholder="DB user"
    value="<%= env.DB_USER %>"
  />
</div>
<div class="mb-3">
  <input
    type="text"
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    placeholder="DB password"
    value="<%= env.DB_PASSWORD %>"
  />
</div>
<div class="mb-3">
  <input
    type="text"
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    placeholder="DB name"
    value="<%= env.DB_NAME %>"
  />
</div>

<div class="d-inline-flex">
  <div class="d-block">
    <div class="mb-3 d">
      <label for="exampleInputEmail1" class="form-label">Server</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Server IP"
        value="<%= serverIP %>"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Server port"
        value="<%= serverPort %>"
      />
    </div>
  </div>

  <div class="d-block" style="margin-left: 15px">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">RCON</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="RCON port"
        value="<%= env.RCON_PORT %>"
      />
    </div>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="RCON password"
        value="<%= env.RCON_PASSWORD %>"
      />
    </div>
  </div>
</div>

<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Steam web API key</label>
  <input
    type="text"
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    value="<%= env.STEAM_API_KEY %>"
  />
  <div id="emailHelp" class="form-text">
    You can get this key
    <a href="https://steamcommunity.com/dev/apikey">here</a>.
  </div>
</div>

<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Server name</label>
  <input
    type="text"
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    value="<%= env.NAME %>"
  />
</div>

<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Currency symbol</label>
  <input
    type="text"
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    value="<%= env.CURRENCY %>"
  />
</div>

<div class="mb-3 d-block">
  <label for="exampleInputEmail1" class="form-label"
    >Secret key for encrypt</label
  ><br />
  <div class="d-inline-flex">
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      value="<%= env.SECRET %>"
    />
    <button
      type="button"
      class="btn btn-primary btn-sm"
      style="margin-left: 10px"
    >
      Generate
    </button>
  </div>
</div>

<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Logo</label>
  <br />
  <div class="d-inline-flex">
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      value="<%= env.LOGO %>"
    />
    <img
      src="<%= env.LOGO %>"
      alt=""
      height="40"
      width="40"
      style="margin-left: 10px"
    />
  </div>
</div>

<div style="text-align: right">
  <button type="button" class="btn btn-primary">Save Changes</button>
</div>

<a name="configPay"><h4 class="text-center">Pay</h4></a>

<div class="d-inline-flex">
  <div class="card pay-card">
    <div class="card-body">
      <h5 class="card-title">PayPal</h5>
      <button type="button" class="btn btn-outline-secondary">Use</button>
    </div>
  </div>

  <div class="card pay-card">
    <div class="card-body">
      <h5 class="card-title">LavaPay</h5>
      <button type="button" class="btn btn-outline-secondary">Use</button>
    </div>
  </div>
</div>
<br /><br />
<div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Token</label>
  <input
    type="text"
    class="form-control"
    id="exampleInputEmail1"
    aria-describedby="emailHelp"
    value="<%= env.PAY_TOKEN %>"
  />
</div>

<div style="text-align: right">
  <button type="button" class="btn btn-primary">Save Changes</button>
</div>
